<%- include("partials/header") %>

<div class="container center">
      <br>
      <h3>login</h3>
      <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn btn-large halfway-fab waves-effect waves-light light-blue accent-2">Login</button>
      </form>
      <br>
      <h5>Got no account? Register<span><a href="/register">here!</a> </span></h4>
</div>



<%- include("partials/footer") %>