<%- include("partials/header") %>

<div class="container center">
      <br>
      <h3>Sign Up</h3>
      <form action="/register" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn btn-large halfway-fab waves-effect waves-light light-blue accent-2">Sign up!</button>
      </form>
</div>



<%- include("partials/footer") %>